<section class="g-pos-rel text-center">


    <div class="js-carousel" data-autoplay="true" data-infinite="true" data-fade="true" data-speed="5000">
        <div class="js-slide g-bg-img-hero  " style="background-color:white;">
            <!-- Page Content -->
            <div class="container">
                <!-- POST -->
                <div class="col-lg-12 " id="content">
                    <h2>POSTS</h2>
                    <div class="table-responsive-lg">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Titulo</th>
                                    <th>Contenido</th>
                                    <th>Autor Nombre</th>
                                    <th>Autor Apellidos</th>
                                    <th>Role id</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tr
                                *ngFor="let contenido of contenidos[0] | paginate: { itemsPerPage: 4, currentPage: p1,id:'first' }">
                                <td>{{contenido.title}}</td>
                                <td>{{contenido.contenido}}</td>
                                <td>{{contenido.user.name}}</td>
                                <td>{{contenido.user.surname}}</td>
                                <td>{{contenido.user.role_id}}</td>
                                <td>
                                    <!-- boton para editar post-->
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                        [attr.data-target]="'#myModaleditpost'+ contenido.id"
                                        (click)="getPost(contenido.id)" *ngIf=" identity.role_id == 1 ">ACTIVAR</button>

                                    <!-- Modal -->
                                    <div id="{{'myModaleditpost'+contenido.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Estas seguro de querrer activar a este contenido?
                                                    </p>


                                                </div>
                                                <div class="modal-footer">
                                                    <a type="button" class="btn btn-warning" data-dismiss="modal"
                                                        (click)="onEditPost()">Activar</a>
                                                    <button type="button" class="btn btn-success"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <!-- boton para borrar-->
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                        [attr.data-target]="'#myModalpost'+ contenido.id"
                                        *ngIf="identity.role_id == 1">Borrar</button>


                                    <!-- Modal -->
                                    <div id="{{'myModalpost'+contenido.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Estas seguro de querrer borrar este contenido ? SE BORRARÁ
                                                        PERMANENTEMENTE!!
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a type="button" class="btn btn-danger" data-dismiss="modal"
                                                        (click)="deletePost(contenido.id)">BORRAR</a>

                                                    <button type="button" class="btn btn-success"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </table>
                    </div>
                    <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls>
                </div>
                <!-- IMAGENES -->

                <div class="col-lg-12 " id="content">
                    <h2>IMAGENES</h2>
                    <div class="table-responsive-lg">
                        <table class="table">
                            <thead class="thead-dark">

                                <tr>
                                    <th>Descripción</th>
                                    <th>Imagen nombre</th>
                                    <th>Autor Nombre</th>
                                    <th>Autor Apellidos</th>
                                    <th>Role id</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tr
                                *ngFor="let contenido of contenidos[1] | paginate: { itemsPerPage: 4, currentPage: s ,id:'second'}">
                                <td>{{contenido.description}}</td>
                                <td>{{contenido.imagen_path}}</td>
                                <td>{{contenido.user.name}}</td>
                                <td>{{contenido.user.surname}}</td>
                                <td>{{contenido.user.role_id}}</td>
                                <td>
                                    <!-- boton para editar comentario-->
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                        [attr.data-target]="'#myModaleditimagenes'+ contenido.id"
                                        (click)="getImagen(contenido.id)"
                                        *ngIf=" identity.role_id == 1 ">ACTIVAR</button>

                                    <!-- Modal -->
                                    <div id="{{'myModaleditimagenes'+contenido.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Estas seguro de querrer activar a este contenido?
                                                    </p>


                                                </div>
                                                <div class="modal-footer">
                                                    <a type="button" class="btn btn-warning" data-dismiss="modal"
                                                        (click)="onEditImagen()">Activar</a>
                                                    <button type="button" class="btn btn-success"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <!-- boton para borrar-->
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                        [attr.data-target]="'#myModalimagenes'+ contenido.id"
                                        *ngIf="identity.role_id == 1">Borrar</button>


                                    <!-- Modal -->
                                    <div id="{{'myModalimagenes'+contenido.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Estas seguro de querrer borrar este contenido ? SE BORRARÁ
                                                        PERMANENTEMENTE!!
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a type="button" class="btn btn-danger" data-dismiss="modal"
                                                        (click)="deleteImagen(contenido.id)">BORRAR</a>

                                                    <button type="button" class="btn btn-success"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </table>
                    </div>
                    <pagination-controls (pageChange)="s = $event" id="second"></pagination-controls>
                </div>

                <!-- VIDEOS -->
                <div class="col-lg-12 " id="content">
                    <h2>VIDEOS</h2>
                    <div class="table-responsive-lg">
                        <table class="table">
                            <thead class="thead-dark">

                                <tr>
                                    <th>Titulo</th>
                                    <th>Descripción</th>
                                    <th>Miniatura</th>
                                    <th>Video</th>
                                    <th>Autor Nombre</th>
                                    <th>Autor Apellidos</th>
                                    <th>Role id</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tr
                                *ngFor="let contenido of contenidos[2] | paginate: { itemsPerPage: 4, currentPage: d ,id:'tres'}">
                                <td>{{contenido.title}}</td>
                                <td>{{contenido.description}}</td>
                                <td>{{contenido.miniatura}}</td>
                                <td>{{contenido.video_path}}</td>
                                <td>{{contenido.user.name}}</td>
                                <td>{{contenido.user.surname}}</td>
                                <td>{{contenido.user.role_id}}</td>
                                <td>
                                    <!-- boton para editar comentario-->
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                        [attr.data-target]="'#myModaleditvideos'+ contenido.id"
                                        (click)="getVideo(contenido.id)"
                                        *ngIf=" identity.role_id == 1 ">ACTIVAR</button>

                                    <!-- Modal -->
                                    <div id="{{'myModaleditvideos'+contenido.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Estas seguro de querrer activar a este contenido?
                                                    </p>


                                                </div>
                                                <div class="modal-footer">
                                                    <a type="button" class="btn btn-warning" data-dismiss="modal"
                                                        (click)="onEditVideo()">Activar</a>
                                                    <button type="button" class="btn btn-success"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <!-- boton para borrar-->
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                        [attr.data-target]="'#myModalvideos'+ contenido.id"
                                        *ngIf="identity.role_id == 1">Borrar</button>


                                    <!-- Modal -->
                                    <div id="{{'myModalvideos'+contenido.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Estas seguro de querrer borrar este contenido ? SE BORRARÁ
                                                        PERMANENTEMENTE!!
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a type="button" class="btn btn-danger" data-dismiss="modal"
                                                        (click)="deleteVideo(contenido.id)">BORRAR</a>

                                                    <button type="button" class="btn btn-success"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </table>
                    </div>

                    <pagination-controls (pageChange)="d = $event" id='tres'></pagination-controls>
                </div>

                <!-- COMENTARIOS -->
                <div class="col-lg-12 " id="content">
                    <h2>COMENTARIOS</h2>
                    <div class="table-responsive-lg">
                        <table class="table">
                            <thead class="thead-dark">

                                <tr>
                                    <th>Comentario</th>
                                    <th>Imagen id</th>
                                    <th>Video id </th>
                                    <th>Post id</th>
                                    <th>Autor Nombre</th>
                                    <th>Autor Apellidos</th>
                                    <th>Role id</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tr
                                *ngFor="let contenido of contenidos[3] | paginate: { itemsPerPage: 4, currentPage: c ,id:'cuatro' }">
                                <td>{{contenido.comentario}}</td>
                                <td>{{contenido.imagen_id}}</td>
                                <td>{{contenido.video_id}}</td>
                                <td>{{contenido.post_id}}</td>
                                <td>{{contenido.usercomentario.name}}</td>
                                <td>{{contenido.usercomentario.surname}}</td>
                                <td>{{contenido.usercomentario.role_id}}</td>
                                <td>
                                    <!-- boton para editar comentario-->
                                    <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                        [attr.data-target]="'#myModaleditcomentarios'+ contenido.id"
                                        (click)="getComentario(contenido.id)"
                                        *ngIf=" identity.role_id == 1 ">ACTIVAR</button>

                                    <!-- Modal -->
                                    <div id="{{'myModaleditcomentarios'+contenido.id}}" class="modal fade"
                                        role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Estas seguro de querrer activar a este contenido?
                                                    </p>


                                                </div>
                                                <div class="modal-footer">
                                                    <a type="button" class="btn btn-warning" data-dismiss="modal"
                                                        (click)="onEditComentario()">Activar</a>
                                                    <button type="button" class="btn btn-success"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <!-- boton para borrar-->
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                        [attr.data-target]="'#myModalcomentarios'+ contenido.id"
                                        *ngIf="identity.role_id == 1">Borrar</button>


                                    <!-- Modal -->
                                    <div id="{{'myModalcomentarios'+contenido.id}}" class="modal fade" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Estas seguro de querrer borrar este contenido ? SE BORRARÁ
                                                        PERMANENTEMENTE!!
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <a type="button" class="btn btn-danger" data-dismiss="modal"
                                                        (click)="deleteComentario(contenido.id)">BORRAR</a>

                                                    <button type="button" class="btn btn-success"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>


                        </table>
                    </div>
                    <pagination-controls (pageChange)="c = $event" id="cuatro"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

  <!-- Page Content -->
  <div class="container" >
      <div class="col-md-8 " id="content">
        <h2>POSTS</h2>
          <table>
              <tr>
                  <th>Titulo</th>
                  <th>Autor</th>
              </tr>
              <tr *ngFor="let contenido of contenidos[0] | paginate: { itemsPerPage: 4, currentPage: p1,id:'first' }">
                  <td>{{contenido.title}}</td>
                  <td>{{contenido.user.name}}</td>
                  <td>
                      <!-- boton para editar post-->
                      <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                          [attr.data-target]="'#myModaledit'+ contenido.id" (click)="getPost(contenido.id)"
                          *ngIf=" identity.role_id == 1 ">ACTIVAR</button>

                      <!-- Modal -->
                      <div id="{{'myModaledit'+contenido.id}}" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                      <p>Estas seguro de querrer activar a este contenido?
                                      </p>


                                  </div>
                                  <div class="modal-footer">
                                      <a type="button" class="btn btn-warning" data-dismiss="modal"
                                          (click)="onEditPost()">Activar</a>
                                      <button type="button" class="btn btn-success"
                                          data-dismiss="modal">Close</button>
                                  </div>
                              </div>

                          </div>
                      </div>

                  </td>
                  <td>
                      <!-- boton para borrar-->
                      <!-- Trigger the modal with a button -->
                      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                          [attr.data-target]="'#myModal'+ contenido.id"
                          *ngIf="identity.role_id == 1">Borrar</button>


                      <!-- Modal -->
                      <div id="{{'myModal'+contenido.id}}" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                              <!-- Modal content-->
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>
                                  <div class="modal-body">
                                      <p>Estas seguro de querrer borrar este contenido ? SE BORRARÁ PERMANENTEMENTE!!
                                      </p>
                                  </div>
                                  <div class="modal-footer">
                                      <a type="button" class="btn btn-danger" data-dismiss="modal"
                                          (click)="deletePost(contenido.id)">BORRAR</a>

                                      <button type="button" class="btn btn-success"
                                          data-dismiss="modal">Close</button>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </td>
              </tr>


          </table>
          <pagination-controls (pageChange)="p1 = $event" id="first"></pagination-controls>
      </div>

      <div class="col-md-8 " id="content">
          <h2>IMAGENES</h2>
            <table>
                <tr>
                    <th>Descripción</th>
                    <th>Autor</th>
                </tr>
                <tr *ngFor="let contenido of contenidos[1] | paginate: { itemsPerPage: 4, currentPage: s ,id:'second'}">
                    <td>{{contenido.description}}</td>
                    <td>{{contenido.user.name}}</td>
                    <td>
                        <!-- boton para editar comentario-->
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                            [attr.data-target]="'#myModaledit'+ contenido.id" (click)="getImagen(contenido.id)"
                            *ngIf=" identity.role_id == 1 ">ACTIVAR</button>
  
                        <!-- Modal -->
                        <div id="{{'myModaledit'+contenido.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
  
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Estas seguro de querrer activar a este contenido?
                                        </p>
  
  
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-warning" data-dismiss="modal"
                                            (click)="onEditImagen()">Activar</a>
                                        <button type="button" class="btn btn-success"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
  
                            </div>
                        </div>
  
                    </td>
                    <td>
                        <!-- boton para borrar-->
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            [attr.data-target]="'#myModal'+ contenido.id"
                            *ngIf="identity.role_id == 1">Borrar</button>


                        <!-- Modal -->
                        <div id="{{'myModal'+contenido.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Estas seguro de querrer borrar este contenido ? SE BORRARÁ PERMANENTEMENTE!!
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-danger" data-dismiss="modal"
                                            (click)="deleteImagen(contenido.id)">BORRAR</a>

                                        <button type="button" class="btn btn-success"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
  
  
            </table>
            <pagination-controls (pageChange)="s = $event" id="second"></pagination-controls>
        </div>

        <div class="col-md-8 " id="content">
            <h2>VIDEOS</h2>
              <table>
                  <tr>
                      <th>Titulo</th>
                      <th>Autor</th>
                  </tr>
                  <tr *ngFor="let contenido of contenidos[2] | paginate: { itemsPerPage: 4, currentPage: d ,id:'tres'}">
                      <td>{{contenido.title}}</td>
                      <td>{{contenido.user.name}}</td>
                      <td>
                          <!-- boton para editar comentario-->
                          <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                              [attr.data-target]="'#myModaledit'+ contenido.id" (click)="getVideo(contenido.id)"
                              *ngIf=" identity.role_id == 1 ">ACTIVAR</button>
    
                          <!-- Modal -->
                          <div id="{{'myModaledit'+contenido.id}}" class="modal fade" role="dialog">
                              <div class="modal-dialog">
    
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>
                                      <div class="modal-body">
                                          <p>Estas seguro de querrer activar a este contenido?
                                          </p>
    
    
                                      </div>
                                      <div class="modal-footer">
                                          <a type="button" class="btn btn-warning" data-dismiss="modal"
                                              (click)="onEditVideo()">Activar</a>
                                          <button type="button" class="btn btn-success"
                                              data-dismiss="modal">Close</button>
                                      </div>
                                  </div>
    
                              </div>
                          </div>
    
                      </td>
                      <td>
                          <!-- boton para borrar-->
                          <!-- Trigger the modal with a button -->
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                              [attr.data-target]="'#myModal'+ contenido.id"
                              *ngIf="identity.role_id == 1">Borrar</button>
  
  
                          <!-- Modal -->
                          <div id="{{'myModal'+contenido.id}}" class="modal fade" role="dialog">
                              <div class="modal-dialog">
  
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>
                                      <div class="modal-body">
                                          <p>Estas seguro de querrer borrar este contenido ? SE BORRARÁ PERMANENTEMENTE!!
                                          </p>
                                      </div>
                                      <div class="modal-footer">
                                          <a type="button" class="btn btn-danger" data-dismiss="modal"
                                              (click)="deleteVideo(contenido.id)">BORRAR</a>
  
                                          <button type="button" class="btn btn-success"
                                              data-dismiss="modal">Close</button>
                                      </div>
                                  </div>
  
                              </div>
                          </div>
                      </td>
                  </tr>
    
    
              </table>
              <pagination-controls (pageChange)="d = $event" id='tres'></pagination-controls>
          </div>



          <div class="col-md-8 " id="content">
              <h2>COMENTARIOS</h2>
                <table>
                    <tr>
                        <th>Comentario</th>
                        <th>Imagen id</th>
                        <th>Video id </th>
                        <th>Post id</th>
                        <th>Autor</th>
                    </tr>
                    <tr *ngFor="let contenido of contenidos[3] | paginate: { itemsPerPage: 4, currentPage: c ,id:'cuatro' }">
                        <td>{{contenido.comentario}}</td>
                        <td>{{contenido.imagen_id}}</td>
                        <td>{{contenido.video_id}}</td>
                        <td>{{contenido.post_id}}</td>
                        <td>{{contenido.usercomentario.name}}</td>
                        <td>
                            <!-- boton para editar comentario-->
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                [attr.data-target]="'#myModaledit'+ contenido.id" (click)="getComentario(contenido.id)"
                                *ngIf=" identity.role_id == 1 ">ACTIVAR</button>
      
                            <!-- Modal -->
                            <div id="{{'myModaledit'+contenido.id}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
      
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Estas seguro de querrer activar a este contenido?
                                            </p>
      
      
                                        </div>
                                        <div class="modal-footer">
                                            <a type="button" class="btn btn-warning" data-dismiss="modal"
                                                (click)="onEditComentario()">Activar</a>
                                            <button type="button" class="btn btn-success"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
      
                                </div>
                            </div>
      
                        </td>
                        <td>
                            <!-- boton para borrar-->
                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                [attr.data-target]="'#myModal'+ contenido.id"
                                *ngIf="identity.role_id == 1">Borrar</button>
      
      
                            <!-- Modal -->
                            <div id="{{'myModal'+contenido.id}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
      
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Estas seguro de querrer borrar este contenido ? SE BORRARÁ PERMANENTEMENTE!!
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a type="button" class="btn btn-danger" data-dismiss="modal"
                                                (click)="deleteComentario(contenido.id)">BORRAR</a>
      
                                            <button type="button" class="btn btn-success"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
      
                                </div>
                            </div>
                        </td>
                    </tr>
      
      
                </table>
                <pagination-controls (pageChange)="c = $event" id="cuatro"></pagination-controls>
            </div>
  </div>


</section>