<section class="g-pos-rel text-center">

    <div class="js-carousel" data-autoplay="true" data-infinite="true" data-fade="true" data-speed="5000">
        <div class="js-slide g-bg-img-hero g-height-100vh g-min-height-600"
        style="background-image: url('assets/images/usuarios/prueba2.jpg');">

            <div class="container ">

                <div class="row ">

                    <div class="col-md-4 alejadodeltop " *ngFor="let video of videos | paginate: { itemsPerPage: 3, currentPage: p }">
                            
                        
                        <div class=" g-mb-20" *ngIf="status == 'success' ">
                                    <div class="alert alert-success">
                                       La operacion se ha realizado correctamente
                                    </div>
                         </div>

                        <div class="card pub_image ">
                            <div class="card-header">
                                <div class="container-avatar">
                                    <img src="{{url + 'user/image-collect/'+ video.user.image_path}}" />
                                </div>
                                <div class="data-user">
                                    {{video.user.name }} {{video.user.surname}}
                                    <div *ngIf="video.user_id == identity.sub || identity.role_id == 1"
                                            style="align-content: right ;">


                                            <!-- boton para borrar-->
                                            <!-- Trigger the modal with a button -->
                                            <a type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                                [attr.data-target]="'#myModal'+ video.id">X</a>


                                            <!-- Modal -->
                                            <div id="{{'myModal'+video.id}}" class="modal fade" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Estas seguro de querrer borrar este video ? SE BORRARÁ
                                                                PERMANENTEMENTE!!
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a type="button" class="btn btn-danger" data-dismiss="modal"
                                                                (click)="deleteVideo(video.id)">BORRAR</a>

                                                            <button type="button" class="btn btn-success"
                                                                data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                   <br>
                                   <h3>Title:{{video.title}}</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="image-container">
                                    <div>
                                        <img src="{{url + 'videos/miniatura-collect/'+ video.miniatura}}" />
                                    </div>
                                </div>
                                <div class="description">
                                 
                                    {{video.description}}
                                </div>
                                <div>
                                    <div class="comments"><a [routerLink]="['/videos',video.id]"
                                            class="btn btn-sm btn-success btn-comments"> Ver video
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>

</section>