

<form #comentForm="ngForm" (ngSubmit)="onSubmit(comentForm)" class="col-sm-10">

 
  <p><textarea name="comentario" class="form-control" #imagen_id="ngModel" [(ngModel)]="comentario.imagen_id" required
   >{{imagenes.id}}</textarea></p>

  <p><textarea name="comentario" class="form-control" #comentario="ngModel" [(ngModel)]="comentario.comentario" required
      placeholder="Comentario"></textarea></p>

  <p *ngIf="!comentario.valid && comentario.touched" class="text-danger mt-1">
    <strong>Elcomentario es necesario</strong>
  </p>

  <button type="submit" value="Comentar" class="btn btn-lg btn-success"></button>


</form>