<section class="g-pos-rel text-center">
  <div class="js-carousel" data-autoplay="true" data-infinite="true" data-fade="true" data-speed="5000">
    <div class="js-slide g-bg-img-hero  g-height-100vh" style="background-color:white;">

      <!-- Page Content -->
      <!--DIV para hacer el PDF-->
      <div class="col-lg-12" id="content" #content style="display: none">
        <h2>LOGS</h2>
        <div class="table-responsive-lg">
          <table class="table" id="users-list">
            <tr>
              <th>ID</th>
              <th>PRIORIDAD</th>
              <th>NOMBRE</th>
              <th>CREATED_AT</th>
            </tr>
            <tr *ngFor="let log of logs">
              <td>{{log.id}}</td>
              <td>{{log.prioridad}}</td>
              <td>{{log.nombre}}</td>
              <td>{{log.created_at}}</td>
            </tr>
          </table>
        </div>


      </div>
      <!--FIN DIV PDF-->
      <div style="text-align: right;margin-right: 10%;">
        <h2>DESCARGAR PDF</h2>
        <button type="button" (click)="downloadPDF()" class="descargarpdf btn btn-primary bg-dark"
          title="Descargar PDF LOGS">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </button>
      </div>

      <!-- Page Content -->
      <div class="container">

        <div class="col-lg-12 " id="content">
          <div class="table-responsive-lg">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>PRIORIDAD</th>
                  <th>NOMBRE</th>
                  <th>CREATED_AT</th>
                </tr>
              </thead>

              <tr *ngFor="let log of logs | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{log.id}}</td>
                <td>{{log.prioridad}}</td>
                <td>{{log.nombre}}</td>
                <td>{{log.created_at}}</td>
              </tr>


            </table>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>