<section class="g-pos-rel text-center">

      <div class="js-carousel" data-autoplay="true" data-infinite="true"
          data-fade="true" data-speed="5000">
          <div class="js-slide g-bg-img-hero g-height-100vh g-min-height-600"
          style="background-image: url('assets/images/usuarios/prueba2.jpg');">
  
              <div class="container ">
                  <div class="u-bg-overlay__inner g-absolute-centered w-100">
                        <div class="container text-center ">
    
    
                            <form #imagencreateForm="ngForm" (ngSubmit)="onSubmit(imagencreate)" class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-sm-8 registrocuadro">
    
                                                <div class="header header-primary text-center">
                                                    <h4>Añadir imagen</h4>
                                                </div>
    
                                                <div class="form-group g-mb-20" *ngIf="status == 'success' ">
                                                    <div class="alert alert-success">
                                                        Se ha subido correctamente
                                                    </div>
                                                </div>
    
                                                <div class="form-group g-mb-20 " *ngIf="status == 'error' ">
                                                    <div class="alert alert-danger">
                                                        Error en la subida de imagen! Ha terminado de subir la foto ?
                                                    </div>
                                                </div>

                                                
                                                <div class="form-group g-mb-20">
                                                     
                                                      <angular-file-uploader
                                                      [config]="afuConfig"
                                                      [resetUpload]=resetVar
                                                      (ApiResponse)="imagenUpload($event)" >
                                                      
                                                    </angular-file-uploader> 
                                                    
                                                  </div>
 
    
                                                <div class="form-group g-mb-20 input-group">
    
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">description</i>
                                                    </span>
                                                    <input type="text"
                                                        class="form-control g-font-size-default  g-brd-white inputstyle "
                                                        name="description" #description="ngModel" [(ngModel)]="imagen.description" required
                                                        placeholder="Description" />
    
                                                </div>
                                                <p *ngIf="!description.valid && description.touched" class="text-danger mt-1">
                                                    <strong>La descripcion es necesaria</strong>
                                                </p>
    
                                                <button type="submit" class="btn btn-lg btn-success">Sube imagen
                                                </button>
    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                 
              </div>
          </div>
      </div>
  
  </section>