<section class="g-pos-rel text-center">
    <!-- Page Content -->
    <div class="container">
        <div class="col-md-8 " id="content">
            <table>

                <tr>
                    <th>Nombre</th>
                </tr>
                <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td>{{user.name}}</td>
                    <td>
                        <!-- boton para editar comentario-->
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                            [attr.data-target]="'#myModaledit'+ user.id" (click)="getUser(user.id)"
                            *ngIf=" identity.role_id == 1 ">ACTIVAR</button>

                        <!-- Modal -->
                        <div id="{{'myModaledit'+user.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Estas seguro de querrer activar a esta persona?
                                        </p>


                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-warning" data-dismiss="modal"
                                            (click)="onEdit()">Activar</a>
                                        <button type="button" class="btn btn-success"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </td>
                    <td>
                        <!-- boton para borrar-->
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            [attr.data-target]="'#myModal'+ user.id"
                            *ngIf="identity.role_id == 1">Borrar</button>


                        <!-- Modal -->
                        <div id="{{'myModal'+user.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Estas seguro de querrer borrar este user ? SE BORRARÁ PERMANENTEMENTE!!
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-danger" data-dismiss="modal"
                                            (click)="deleteUser(user.id)">BORRAR</a>

                                        <button type="button" class="btn btn-success"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>

                </tr>


            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>

</section>