<section class="g-pos-rel text-center">

      <div class="js-carousel" data-autoplay="true" data-infinite="true"
          data-fade="true" data-speed="5000">
          <div class="js-slide g-bg-img-hero g-height-100vh g-min-height-600"
              style="background-image: url('assets/images/usuarios/poseidon.jpg');">
  
              <div class="container ">
                    <div class="row " >
                        <div class="col-md-4 alejadodeltop " *ngFor="let imagen of imagenes" >
                           

                            <div class="card pub_image ">
                                <div class="card-header">
                                    <div class="container-avatar">
                                            <img src="{{url + 'user/image-collect/'+ imagen.user.image_path}}" />
                                    </div> 
                                    <div class="data-user">
                                        {{imagen.user.name}}  
                                    </div>
                                </div> 
                                <div class="card-body">
                                    <div class="image-container">
                                            <div >
                                                    <img src="{{url + 'imagenes/image-collect/'+ imagen.imagen_path}}" />
                                            </div>
                                    </div> 
                                    <div class="description">
                                        {{imagen.description}} 
                                         
                                    </div>
                                    <div>
                                         <div class="comments"><a [routerLink]="['/imagenes',imagen.id]" class="btn btn-sm btn-warning btn-comments">  Comentarios(  {{comentario}} ) </a>
                                            </div>
                                    </div>
                                </div>
                                
                            </div>
                           
                        </div>
                    
                     
                    </div>
                 
                    
              </div>
          </div>
      </div>
  
  </section>